body{
    background-image: url(img/alberta-canada-lake-night-landscapes-blue-1920x1080.jpg);
    background-color: firebrick;
    font-family: Dosis, Arial, sans-serif;
}

.login{
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid rgba(0, 0, 23, 0.6);
    background-color: rgba(0, 0, 23, 0.6);
} 

form{
    margin-top: 200px;
}

label, input, button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 199px;
}

img{
    position: relative;
    top: 165px;
    left: 184px;
}

input{
    background-color:  rgba(0, 0, 23, 0);
    border-bottom: 1px solid rgb(0, 0, 23);
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
}

.po:focus {
    border: 1px solid rgba(215, 28, 82, 0.1);
    outline-width: 0;

  }

hr{
    width: 200px;
    color: rgba(0, 0, 23, 0.6);
}

button{
    background-color: rgba(215, 28, 82, 1);
    border: none;
    border-radius: 2px;
    height: 50px;
    width: 150px;
    margin-top: 15px;
}

form{
    margin-left: auto;
    margin-right: auto;
}

